# Frontend público
VITE_SUPABASE_URL=https://ilwrhswrnzwfyayhrntx.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlsd3Joc3dybnp3ZnlheWhybnR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTkzODQsImV4cCI6MjA5NzI5NTM4NH0._5kYpbSNnGfgX2e2bbGuWnguZu0Rx1sTcs-cirYWY2Q

# Variables solo para Vercel Functions / servidor
SUPABASE_URL=https://ilwrhswrnzwfyayhrntx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlsd3Joc3dybnp3ZnlheWhybnR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcxOTM4NCwiZXhwIjoyMDk3Mjk1Mzg0fQ.xow0aA3Xq-sUMu0H7ydnNGxo9H-Tij06KnunwGq0cMU